@using Core.ado;
@{
    ViewData["Title"] = "Activity";
}
@model Activity



@using (Html.BeginForm("WatchActivity", "Activity", FormMethod.Post))
{
    <fieldset>

        @Html.HiddenFor(a => a.Id)
        <p>
            <table width="700px">
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.Name, "Название:")
                    </td>
                    <td width="400px">
                        <label for="Name">@Model.Name</label>
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.Description, "Описание:")
                    </td>
                    <td width="400px">
                        <label for="Name">@Model.Description</label>
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.Price, "Цена:")
                    </td>
                    <td width="400px">
                        <label for="Name">@Model.Price</label>
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.DateStart, "Дата начала:")
                    </td>
                    <td width="50px">
                        <label for="Name">@String.Format("{0:dd.MM.yy}", Model.DateStart)</label>
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.DateStart, "Время начала:")
                    </td>
                    <td width="50px">
                        <label for="Name">@String.Format("{0:HH:mm}", Model.DateStart)</label>
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.Visits, "Просмотров:")
                    </td>
                    <td width="400px">
                        <label for="Name">@Model.Visits</label>
                    </td>
                </tr>
            </table>





        </p>
        <p>
            @Html.Raw("<img style='width:500px; height:300px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Photo) + "\" />")
        </p>



    </fieldset>
}

<div>
    <a asp-action="Index"
       class="btn btn-primary"
       role="button">Назад</a>
</div>
