@using System.Collections.ObjectModel;
@using Core.ado;
@using Core.Classes_Core;

<body bgcolor="#B4E15E">


<html>
<head>
    <meta charset="utf-8">
    <title>Радиус</title>
    <style>
        #is {
            color: #fff; /* Цвет текста */
            border-radius: 15px; /* Уголки */
        }
        h2 {
            font-size: 20px;
            color: #673Ab7;
        }
    </style>
    </head>
</html>


    @model ObservableCollection<Place>
    <h1>Места</h1>
    <div class="row">
        @foreach (var place in Model)
        {
            <div class="col-md-4 mb-5" id="dib">
                <div class="card h-100" id="is">

                    <div class="card-body" id="div">
                        <div>
                            @if (place.Photo != null)
                            {
                                @Html.Raw("<img style='width:300px; height:300px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(place.Photo) + "\" />")
                            }
                        </div>
                        <h2 class="card-title text-center">
                            <label ="@place.Name" target=_blank id="selector">@place.Name</label>
                        </h2>
                        <div class="text-center">
                            <a class="btn btn-primary" asp-controller="Place"
                               asp-action="WatchPlace" asp-route-id="@place.Id"
                               role="button">
                                Посмотреть
                            </a>
                            <a class="btn btn-primary" asp-controller="Request"
                               asp-action="Add"
                               asp-route-id="@place.Id"
                               role="button">
                                Подать заявку
                            </a>

                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
    </body>
