@using System.Collections.ObjectModel;
@using Core.ado;
<body bgcolor="#B4E15E">

    <br />


    @model ObservableCollection<Place>
    <h2>Места</h2>
    <div class="row">
        @foreach (var place in Model)
        {
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div>
                            @if (place.Photo != null)
                            {
                                @Html.Raw("<img style='width:300px; height:300px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(place.Photo) + "\" />")
                            }
                        </div>
                        <h2 class="card-title text-center">
                            <a href="@place.Name" target=_blank>@place.Name</a>
                        </h2>
                        <div class="text-center">
                            <a class="btn btn-primary" asp-controller="Place"
                               asp-action="WatchPlace" asp-route-id="@place.Id"
                               role="button">
                                Посмотреть
                            </a>
                            <a class="btn btn-primary" asp-controller="Request"
                               asp-action="Add"
                               asp-route-id="@place.Id"
                               role="button">
                                Подать заявку
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </body>
