@using Core.ado;
@using Core.Classes_Core;
@{
    ViewData["Title"] = "Activity";
}
@model Place



@using (Html.BeginForm("WatchPlace", "Place", FormMethod.Post))
{
    <fieldset>

        @Html.HiddenFor(a => a.Id)
        <p>
            <table width="700px">
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.Name, "Название:")
                    </td>
                    <td width="400px">
                        <label for="Name">@Model.Name</label>
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.Description, "Описание:")
                    </td>
                    <td width="400px">
                        <label for="Name">@Model.Description</label>
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.Place_Type.Name, "Вместительность:")
                    </td>
                    <td width="400px">
                        <label for="Name">@Model.Capacity</label>
                    </td>
                </tr>
                <tr>
                    <td width="100px">
                        @Html.LabelFor(a => a.Visits, "Посещений:")
                    </td>
                    <td width="400px">
                        <label for="Name">@Model.Visits</label>
                    </td>
                </tr>
            </table>





        </p>
        <p>
            @Html.Raw("<img style='width:500px; height:300px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Photo) + "\" />")
        </p>
        <p>



        </p>


    </fieldset>
}

<div>
    <a asp-action="Index"
       class="btn btn-primary"
       role="button">Назад</a>


</div>
